<nav class="navbar navbar-expand-lg navbar-dark bg-primary row">
    <div class="col-md-6">
        <a class="navbar-brand" routerLink="/home">{{title}}</a>
    </div>

    <div class="col-md-6 d-flex justify-content-end text-light">
        <button *ngIf="isLoged" mat-stroked-button color="primary" (click)="peuplerBD()">PeuplerBD</button>&nbsp;
        <button *ngIf="isLoged" (click)="logout()" class="btn btn-warning" type="button">Logout</button>
    </div>


</nav>

<div *ngIf="!isLoged" class="row justify-content-center mt-3" id="loginf">
    <div class="col-md-5 card">
        <div class="card-body">
            <form class=" row justify-content-center align-items-center">
                <h2 class="">Connexion</h2>
                <div class="row mb-2">
                    <input type="text" [ngModel]="username" class="form-control col-md-5" id="username"
                           placeholder="Nom d'utilisateur">
                </div>
                <div class="row">
                    <input type="password" [ngModel]="password" class="form-control col-md-9" id="password"
                           placeholder="Mot de passe">
                </div>
                <button type="submit" (click)="login()" class="btn btn-primary col-md-8 mt-2">Se connecter</button>
            </form>
        </div>
    </div>
</div>
